.box {
  border-radius: 10px;
  margin-bottom: 25px;
  width: 100%;
}

.box,
.box h3 {
  background-color: #e4f2ff;
  padding: 10px 15px;
  font-family: Poppins;
  font-size: 14px;
}

.box h3 {
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

.box ul {
  list-style: none;
  padding: 0;
}

.box li {
  display: flex;
  align-content: center;
  margin-bottom: 8px;
}

.box svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.box li a {
  color: #9c9fa7;
}
