.content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 40px;
}

.content img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.content p {
  margin: 0;
}

.content .frontTitle p {
  font-size: 16px;
  width: 28vw;
}

.content strong {
  color: #ffa87d;
}

.frontTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32vw;
  text-align: center;
}

.frontTitle h1 {
  margin-bottom: 0;
  font-size: 28px;
}

.contentPhrases {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.contentPhrases .phrases {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 32vw;
  text-align: left;
}

.content .phrases h2 {
  margin-bottom: 0;
  font-size: 23px;
}

.content .mexicanAndLomito {
  width: 250px;
  height: 369px;
  border-radius: 0;
  object-fit: fill;
}
