.box {
  border-radius: 10px;
  margin-bottom: 25px;
  width: 100%;
}

.box,
.box h3 {
  background-color: #e4f2ff;
  font-family: Poppins;
  font-size: 14px;
}

.box h3 {
  margin: 0px;
  padding: 15px 15px 0px 20px;
  border-radius: 10px;
}

.box ul {
  list-style: none;
  padding: 0;
}

.box li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 13px;
  color: #9c9fa7;
}

.box li:hover {
  background-color: rgba(93, 174, 254, 0.3);
  color: #182236 !important;
}

.box svg {
  width: 24px;
  height: 24px;
  margin-right: 13px;
}
